<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %>
<!-- Main Content -->
<main class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-10">
            <h1><%= title %></h1>
            <% if(typeof displayName=='string' && displayName) { %>
                <a href="/friend-list/add" class="btn btn-primary" role="button">
                <i class="fas fa-plus-circle"></i> Add a Friend </a>
            <br>
            <% } %>
            <br>
    <table class= "table table-bordered table-striped table-hover">
    <tr class="d-flex">
    <% if(typeof displayName=='string' && displayName) { %>
        <th class="text-center col-2">Name</th>
        <th class="text-center col-2">Username</th>
        <th class="text-center col-1">Description</th>
        <th class="text-center col-5">Email</th>
        <th class="text-center col-1">Number</th>
        <th class="text-center col-1"></th>
        <th class="text-center col-1"></th>
    <% } else { %>
    <th class="text-center col-2">Name</th>
        <th class="text-center col-2">Username</th>
        <th class="text-center col-1">Description</th>
        <th class="text-center col-6">Email</th>
        <th class="text-center col-1">Number</th>
    <% } %>

    </tr>
    <!-- Repeat the template -->
    <% for(let count=0; count < Friendlist.length; count++) { %>
        <tr class="d-flex">
        <% if(typeof displayName=='string' && displayName) { %>
            <td class="text-center col-2"><%= Friendlist[count].name %></td>
            <td class="text-center col-2"><%= Friendlist[count].userName %></td>
            <td class="text-center col-1"><%= Friendlist[count].description %></td>
            <td class="text-center col-5"><%= Friendlist[count].email %></td>
            <td class="text-center col-1"><%= Friendlist[count].Number %></td>
            <td class="text-center col-1">
                <a href="/friend-list/edit/<%= Friendlist[count]._id %>"
                    class="btn btn-primary">
                    <i class="fas fa-pencil-alt"></i> Edit </a>
            </td>
            <td class="text-center col-1">
                <a href="/friend-list/delete/<%= Friendlist[count]._id %>"
                    class="btn btn-danger">
                    <i class="fas fa-trash-alt"></i> Delete </a>
            </td>
        <% } else { %>
            <td class="text-center col-2"><%= Friendlist[count].name %></td>
            <td class="text-center col-2"><%= Friendlist[count].userName %></td>
            <td class="text-center col-1"><%= Friendlist[count].description %></td>
            <td class="text-center col-6"><%= Friendlist[count].email %></td>
            <td class="text-center col-1"><%= Friendlist[count].number %></td>
        <% } %>       
        </tr>
    <% } %>
    </table>
</div>
</div>
</main>
<%- include ../partials/bottom_nav.ejs %>
<%- include ../partials/footer.ejs %>